<mat-card class="blatform-tab-content">
    <mat-card-content class="display-flex-column">
      <mat-form-field >
        <textarea matInput placeholder="text" [(ngModel)]="blatText"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="user" [(ngModel)]="blatUser">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="sendBlat()">Send</button>
    </mat-card-actions>
  </mat-card>
  
  <router-outlet></router-outlet>