<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" class="display-flex-column" (keyup.enter)="changePassword()" >  
    <mat-form-field class="margin-bottom-15 change-password-form-field">
      <input matInput
             cdkFocusInitial
             [formControl]="oldPasswordCtrl"
             placeholder="Old password"
             required
             [type]="hideOldPassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error>Old password required</mat-error>
    </mat-form-field>
    <mat-form-field class="margin-bottom-15 change-password-form-field">
      <input matInput
             placeholder="New password"
             [formControl]="newPassword1Ctrl"
             required
             [type]="hideNewPassword1 ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideNewPassword1 = !hideNewPassword1">{{ hideNewPassword1 ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="newPassword1Ctrl.errors?.minlength || newPassword1Ctrl.errors?.required">{{ blatherFormErrors.minLength }}</mat-error>  
      <mat-error *ngIf="newPassword1Ctrl.errors?.passwordStrength && !newPassword1Ctrl.errors?.minlength">{{ newPassword1Ctrl.errors.passwordStrength }}</mat-error>
    </mat-form-field>
    <mat-form-field class="margin-bottom-15 change-password-form-field">
      <input matInput
             placeholder="Confirm new password"
             [formControl]="newPassword2Ctrl"
             required
             [type]="hideNewPassword2 ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideNewPassword2 = !hideNewPassword2">{{ hideNewPassword2 ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="newPassword2Ctrl.errors?.passwordMismatch">{{ newPassword2Ctrl.errors?.passwordMismatch }}</mat-error>
      <mat-error *ngIf="newPassword2Ctrl.errors?.required && !newPassword2Ctrl.errors?.passwordMismatch">{{ blatherFormErrors.passwordConfirmRequired }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" type="button" (click)="changePassword()">Change</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>